body{
	background-color: dodgerblue;
}

h1{
	background-color: tomato;
	text-align: Center;
	font-size: 140%;
	color: grey;
	font-family: verdana;
}

h2.heading{
	color: red;
	font-family: courier;
	text-align: Center;

}

p{
	border: 2px solid violet;
	background-color: yellow;
	padding: 10px;
	margin: 10px;
	color: mediumseagreen;
	font-size: 15px;
}

#para{
		padding: 20px;
		margin: 30px;
		background-color: aqua;
		color: red;
}

	 