* {
  box-sizing: border-box;
}
body {
  font-family: calibri;
  font-size: 105%;
}
h1 {
  font-size: 2.8em;
  color: navy;
  text-align: center;
}
h2 {
  color: dodgerblue;
  font-size: 1.9em;
}
h3 {
  font-size: 140%;
}
.sp1 {
  color: red;
  font-weight: bold;
}

.a1:link {
  font-size: 110%;
  font-weight: bold;
  color: #a53907;
}
.a1:visited {
  font-size: 110%;
  font-weight: bold;
  color: #7e0b7e;
}
.a1:hover {
  font-size: 115%;
  font-weight: bold;
  color: #e9d200;
}
.a1:active {
  font-size: 110%;
  font-weight: bold;
  color: #00e400;
}

.a2:link,
.a2:visited {
  color: white;
  font-size: 1.2em;
  padding: 10px 20px;
  font-weight: bold;
  background-color: #ff3974;
  border: 1px solid red;
  text-decoration: none;
  display: inline-block;
}
.a2:hover,
.a2:active {
  background-color: red;
}

.img1 {
  width: 100%;
}

.div2 {
  background-image: url('../img/img_girl.jpg');
  background-repeat: no-repeat;
  height: 300px;
  padding: 10px;
}
.cover {
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}
.full {
  background-size: 100% 100%;
  background-attachment: fixed;
  height: 500px;
}

.tb1 {
  width: 90%;
  border-collapse: collapse;
}
.tb1 caption {
  font-family: Verdana;
  margin: 10px;
  caption-side: bottom;
  font-style: italic;
  font-size: 0.9em;
}
.tb1 th,
.tb1 td {
  border: 1px #444 solid;
  padding: 6px 12px;
}
.tb1 th {
  font-size: 110%;
  background-color: #5ca730;
  color: white;
}
.tb1 tr:nth-child(odd) {
  background-color: lightgrey;
}
.tb1 tr:hover {
  background-color: darkgrey;
}

.tb2 {
  width: 60%;
  border-collapse: collapse;
  text-align: center;
}
.tb2 caption {
  font-family: Verdana;
  margin: 10px;
  caption-side: bottom;
  font-style: italic;
  font-size: 0.9em;
}
.tb2 th,
.tb2 td {
  border: 1px #444 solid;
  padding: 6px 12px;
}

.tb3 {
  width: 60%;
  border-collapse: collapse;
  text-align: center;
}
.tb3 caption {
  font-family: Verdana;
  margin: 10px;
  caption-side: bottom;
  font-style: italic;
  font-size: 0.9em;
}
.tb3 th,
.tb3 td {
  border: 1px #444 solid;
  padding: 6px 12px;
}
.tb3 thead {
  background-color: #c317ee;
}
.tb3 tbody {
  background-color: lightgray;
}
.tb3 tfoot {
  background-color: #5817ee;
}

.nav {
  list-style-type: none;
  background-color: #444;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.nav li {
  float: left;
}
.nav li a {
  color: white;
  display: inline-block;
  padding: 10px 16px;
  text-decoration: none;
  text-align: center;
}
.nav li a:hover {
  background-color: #01ece1;
  color: black;
}
