* {
  box-sizing: border-box;
}
body {
  font-family: calibri;
  font-size: 105%;
}
h1 {
  font-size: 2.8em;
  color: navy;
  text-align: center;
}
h2 {
  color: dodgerblue;
  font-size: 1.9em;
  font-family: 'Sofia';
}
h3 {
  font-size: 140%;
}
.sp1 {
  color: red;
  font-weight: bold;
  background: #eee;
}

.div1 {
  width: 500px;
  height: 200px;
  padding: 5px;
  background-color: lightblue;
}
.div2-container .box {
  width: 25%;
  padding: 50px;
  text-align: center;
  float: left;
  background-color: #07d411;
}
.div2-container {
  display: table;
  content: '';
  clear: both;
}
.div2 {
  width: 500px;
  height: 200px;
  padding: 5px;
  background-image: url(../img/paper.gif);
}
.repeat {
  background-image: url(../img/gradient_bg.png);
  background-repeat: repeat-x;
}
.div3 {
  /* background-color: #eee;
  background-image: url(../img/img_tree.png);
  background-repeat: no-repeat;
  background-position: top right; */
  background: #eee url(../img/img_tree.png) no-repeat top right;
  height: 400px;
  width: 100%;
  padding: 5px;
  padding-right: 200px;
  overflow: hidden;
}
.fixed {
  background-attachment: fixed;
  height: 1000px;
}
.div4 {
  background: #4881a7 url(../img/img_tree.png) no-repeat top left;
  padding: 10px;
  width: 100%;
  height: 400px;
}
.div4-child {
  background: lightblue;
  padding: 10px;
  margin-left: 200px;
}

.brdr {
  border-width: 10px;
  border-color: slateblue;
  padding: 15px;
}
.style1 {
  border-style: solid;
}
.style2 {
  border-style: dashed double;
}
.style3 {
  border-style: ridge dashed groove;
}
.style4 {
  border-style: solid dashed dotted double;
}
.brdr1 {
  border-bottom: solid 5px dodgerblue;
  border-radius: 15px;
  background-color: lightgrey;
  padding: 10px;
}

.div5 {
  border: 2px solid #dbc608;
  background: #e5f323;
  padding: 10px;
  margin-top: 100px;
  margin-right: 150px;
  margin-left: 80px;
  margin-bottom: 100px;
}
.div6 {
  border: 2px solid blue;
  margin-left: 100px;
  padding: 10px;
}
.div6 p {
  margin-left: inherit;
}
.div7 {
  border: 2px solid darkgrey;
  background: #d793ff;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 80px;
}

.p1 {
  margin: 30px;
  padding: 5px;
  border: 2px dotted blue;
  outline: 3px solid red;
  outline-offset: 10px;
}

.div8 {
  padding: 15px;
  margin: auto;
  border: 5px solid darkgreen;
  outline: 10px solid #27a10e;
}
.div8 h3 {
  font-family: Verdana;
  text-transform: capitalize;
  color: #196880;
  font-weight: bold;
  text-align: center;
  font-size: 1.8em;
}
.div8 p {
  letter-spacing: 1.5;
  word-spacing: 0.9;
  line-height: 1.4;
  text-indent: 50px;
  text-align: justify;
}
.div8 p a {
  color: #af057c;
  font-style: italic;
  text-decoration: none;
}
.p2 {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.a1:link {
  color: #505050;
  text-decoration: none;
  cursor: zoom-in;
}
.a1:visited {
  color: yellowgreen;
  text-decoration: none;
  cursor: zoom-in;
}
.a1:hover {
  color: #9a06f0;
  text-decoration: underline;
  cursor: zoom-in;
}
.a1:active {
  color: red;
  text-decoration: underline;
  cursor: zoom-in;
}
.a2:link,
.a2:visited {
  display: inline-block;
  padding: 15px 25px;
  font-family: Verdana;
  color: white;
  background: #d805b5;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
}
.a2:hover,
.a2:active {
  background: #750162;
  font-weight: bold;
}
.a3:link,
.a3:visited {
  display: inline-block;
  color: #0f8d6d;
  border: 2px solid #0f8d6d;
  padding: 15px 25px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}
.a3:hover,
.a3:active {
  background: #0f8d6d;
  color: white;
  font-weight: bold;
}

.list1 {
  background: #d19512;
  list-style: inside;
  padding: 12px;
}
.list1 li {
  background: #e2c179;
  padding: 7px;
  margin-left: 20px;
}
.list2 {
  background: #12699b;
  padding: 20px;
}
.list2 li {
  background: #04b6ec;
  margin: 5px;
  padding: 5px;
}
.list3 {
  list-style: none;
  background: darkgrey;
  border-left: 8px solid tomato;
  padding: 10px 20px;
}
.list4 {
  list-style: none;
  padding: 0;
  border: 1px solid darkgrey;
}
.list4 li {
  padding: 8px 16px;
  border-bottom: 1px solid darkgrey;
}
.list4 li:last-child {
  border-bottom: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}
caption {
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.3em;
  font-weight: bold;
  margin: 10px;
  caption-side: bottom;
}
th,
td {
  border: 2px solid darkgrey;
  padding: 8px 16px;
}
th {
  padding: 15px;
  background: #4521e7;
  color: white;
  font-size: 1.2em;
}
td:last-child {
  text-align: center;
}
tr:nth-child(even) {
  background: #e7b5e7;
}
tr:hover {
  background: #f196f1;
}

.container div {
  width: 30%;
  padding: 10px;
  margin: 0 5px;
  float: left;
  text-align: center;
  border: 2px solid lightgrey;
}
.container div img {
  width: 100%;
  margin: 10px 0;
}
.container div button {
  width: 100%;
  display: block;
  padding: 10px 16px;
  background: #2f8d09;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.container div button:hover {
  background: darkgrey;
  color: #2f8d09;
  font-weight: bolder;
}
.container {
  clear: both;
  content: '';
  display: table;
}
