* {
  box-sizing: border-box;
}
body {
  font-family: calibri;
  font-size: 105%;
}
h1 {
  font-size: 2.8em;
  color: navy;
  text-align: center;
  font-family: "Sofia";
}
h2 {
  color: dodgerblue;
  font-size: 1.9em;
  font-family: "Sofia";
}
h3 {
  font-size: 140%;
}
.sp1 {
  color: red;
  font-weight: bold;
  background: #eee;
}

.div1 {
  opacity: 0.5;
  position: absolute;
  background: #40b3df;
  top: -30px;
  left: 50px;
  width: 300px;
  height: 150px;
}
.div2 {
  opacity: 0.3;
  position: absolute;
  background: #73ad21;
  top: 20px;
  left: 120px;
  width: 100px;
  height: 170px;
}
.div3 {
  border: 10px solid #ee872a;
  border-radius: 10px;
  width: 370px;
  height: 140px;
  font-size: 2em;
  padding: 20px;
  margin-top: 30px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
.div4 {
  letter-spacing: 12px;
  position: relative;
  left: 25px;
  top: 25px;
  font-size: 16px;
}
.div5 {
  letter-spacing: 12px;
  position: relative;
  left: 25px;
  top: 30px;
  color: #40b3df;
  font-size: 16px;
}
.div5 span {
  color: white;
  background: #b4009e;
  padding-left: 20px;
}

.a1:link {
  text-decoration: none;
  font-size: 110%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #065703;
  font-weight: bold;
}
.a1:visited {
  text-decoration: none;
  font-size: 110%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #0b9c06;
  font-weight: bold;
}
.a1:hover {
  text-decoration: none;
  font-size: 110%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #e8f804;
  font-weight: bold;
}
.a1:active {
  text-decoration: none;
  font-size: 110%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #00f7ff;
  font-weight: bold;
}

.a2 {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  background: #b919b1;
  padding: 20px;
  display: inline-block;
  width: 350px;
  text-align: center;
}
.a2:hover {
  background: #6104a0;
  font-weight: bold;
}

.img1 {
  width: 100%;
}

.div6 {
  background-image: url("../img/img_girl.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  height: 500px;
  padding: 10px;
}

figure {
  margin: auto;
  border: 1px solid;
  width: 100%;
  padding: 7px;
}
figure figcaption {
  font-style: italic;
  font-weight: bold;
  text-align: center;
  color: white;
  background: #505050;
  padding: 10px;
}

.table1 th,
.table1 td {
  border: 1px solid black;
  padding: 10px;
}
.cap1 {
  margin: 15px 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2em;
  color: cadetblue;
  font-weight: bold;
}

.table1 th,
.table1 td {
  border: 1px solid black;
  padding: 10px;
}
.cap1 {
  margin: 15px 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2em;
  color: cadetblue;
  font-weight: bold;
}
.payin {
  caption-side: bottom;
}
.table2 th,
.table2 td {
  border: 2px solid black;
  padding: 10px;
}
.table2 th {
  color: white;
  background: #082fb1;
  font-size: 110%;
}
.table2 tr:nth-child(even) {
  background: lightblue;
}
.table2 tr:hover {
  background: #318af0;
  color: white;
}
.tmain thead {
  background: #ccc90a;
}
.tmain tbody {
  background: #31cc0a;
}
.tmain tfoot {
  background: #0abfcc;
}

.nav1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #414040;
  overflow: hidden;
}
.nav1 li {
  float: left;
}
.nav1 li a {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 15px 20px;
  font-weight: bold;
}
.nav1 li a:hover {
  background-color: black;
  color: dodgerblue;
}

.frame1 {
  width: 80%;
  height: 300px;
}

.head1 {
  background: #414141;
  color: tomato;
  text-align: center;
  font-size: 2em;
  padding: 10px;
}
.main1 nav {
  float: left;
  width: 30%;
  height: 300px;
  background: #9b9b9b;
}
.main1 nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.main1 nav ul li button {
  background: #ee8e10;
  cursor: pointer;
  border: 0;
  padding: 15px;
  margin: 10px;
  width: 110px;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}
.main1 article {
  float: left;
  width: 70%;
  padding: 0 15px;
  height: 300px;
  background: #888;
}
.main1 article h3 {
  font-size: 1.7em;
}
.main1::after {
  content: "";
  clear: both;
  display: table;
}
.foot1 {
  background: #494949;
  padding: 15px;
  text-align: center;
  color: white;
}

.divl {
  background: #539cf0;
  width: 25%;
  text-align: center;
  padding: 40px;
  float: left;
  font-weight: bold;
}
.divc {
  background: #919191;
  width: 50%;
  text-align: center;
  padding: 40px;
  float: left;
  font-weight: bold;
}
.divr {
  background: #40b86e;
  width: 25%;
  text-align: center;
  padding: 40px;
  float: left;
  font-weight: bold;
}
.div7::after {
  content: "";
  clear: both;
  display: table;
}

.head2 {
  font-size: 2.2em;
  color: navy;
  text-align: center;
  padding: 10px;
  background: lightgrey;
}
.main2 nav {
  width: 20%;
  float: left;
}
.main2 nav ul {
  list-style-type: none;
  padding: 0;
  margin: 8px 0 0 0;
}
.main2 nav ul li {
  margin-bottom: 8px;
  border-bottom: 1px solid black;
}
.main2 nav ul li a {
  text-decoration: none;
  color: black;
  padding: 8px;
  font-weight: bold;
  display: inline-block;
}
.main2 article {
  width: 50%;
  padding: 0 20px;
  float: left;
}
.main2 aside {
  float: left;
  width: 30%;
  margin-top: 8px;
  background: #8ccbe0;
  padding: 0 10px;
}
.foot2 {
  text-align: center;
  background: lightgrey;
  padding: 10px;
  margin-top: 8px;
}
.main2::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 750px) {
  .divl,
  .divc,
  .divr {
    width: 100%;
    text-align: left;
  }
}
@media screen and (max-width: 800px) {
  .main2 aside {
    width: 100%;
  }
  .main2 article {
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  .main2 nav,
  .main2 aside,
  .main2 article {
    width: 100%;
  }
  .main2 article {
    padding: 0;
  }
}
