* {
  box-sizing: border-box;
}
body {
  font-family: calibri;
  font-size: 105%;
}
h1 {
  font-size: 2.8em;
  color: navy;
  text-align: center;
  font-family: "Sofia";
}
h2 {
  color: dodgerblue;
  font-size: 1.9em;
  font-family: "Sofia";
}
h3 {
  font-size: 140%;
}
.sp1 {
  color: red;
  font-weight: bold;
  background: #eee;
}

.cssMain .div1 {
  opacity: 0.5;
  position: absolute;
  background: #40b3df;
  top: -30px;
  left: 50px;
  width: 300px;
  height: 150px;
}
.cssMain .div2 {
  opacity: 0.3;
  position: absolute;
  background: #73ad21;
  top: 20px;
  left: 120px;
  width: 100px;
  height: 170px;
}
.cssMain .div3 {
  border: 10px solid #ee872a;
  border-radius: 10px;
  width: 370px;
  height: 140px;
  font-size: 2.2em;
  padding: 20px;
  margin-top: 30px;
  font-family: "Segoe UI", Arial, sans-serif;
}
.cssMain .div4 {
  letter-spacing: 12px;
  position: relative;
  left: 25px;
  top: 25px;
  font-size: 16px;
}
.cssMain .div5 {
  letter-spacing: 12px;
  position: relative;
  left: 25px;
  top: 30px;
  color: #40b3df;
  font-size: 16px;
}
.cssMain .div5 span {
  color: white;
  background: #b4009e;
  padding-left: 20px;
}

.a1:link {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  color: #1e9191;
}
.a1:visited {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  color: #1cf14a;
}
.a1:hover {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-weight: bold;
  color: #15812c;
}
.a1:active {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-weight: bold;
  color: #01a9f7;
}
.a2:link,
.a2:visited {
  background: #e93fe0;
  padding: 20px 25px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 1.5em;
  font-family: "Times New Roman", Times, serif;
  color: black;
  font-weight: bold;
}
.a2:hover,
.a2:active {
  background: #6a14b1;
  color: white;
}

.navlink {
  color: black;
  text-decoration: none;
}

.img1 {
  width: 100%;
}
