body{
    background-color:rgb(228, 228, 228);
}
h1{
    font-family: Verdana;
    font-size: 160%;
    color: navy;
    text-align: center;
}
h2{
   font-family: verdana;
   color: dodgerblue; 
}
p{
    font-family: 'Times New Roman';
    font-size: 110%;
}
#para{
    border: 1px solid black;
}