.div1 {
  background-color: deepskyblue;
  width: 500px;
  height: 200px;
  padding: 10px;
  margin: auto;
  border: 2px solid blue;
}

.div1 h4 {
  font-size: 130%;
  color: #5a0f6d;
  font-family: Verdana;
}

.div1 p {
  color: #916412;
  font-weight: bold;
}
